/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
storage/docker
bootstrap/cache
_ide_helper.php
.phpstorm.meta.php
v8-compile-cache-0
/log
/resources/assets/js/ziggy.js
/public/js/app.*
/public/css/app.*
/public/mix-manifest.json
/public/*.js
/public/fonts
/public/css
/public/js
